@model List<ProductModel>

<h1>Products</h1>
<hr />
<table class="table table-striped">
	<tr>
		<th>
			Name
		</th>
		<th>
			Unit Price
		</th>
		<th>
			Stock Amount
		</th>
		<th>
			Expiration Date
		</th>
		<th>
			Category
		</th>
	</tr>
	@foreach (var product in Model)
	{
		<tr>
			<td>
				@product.Name 
			</td>
			<td>
				@product.UnitPriceDisplay
			</td>
			<td>
				@product.StockAmount
			</td>
			<td>
				@product.ExpirationDateDisplay
			</td>
			<td>
				@product.CategoryNameDisplay
			</td>
		</tr>
	}
</table>